
{% extends 'base.html.twig' %}

{% block title %}Erreur 404 :({% endblock %}

{% block body %}
    <h1><i class="bug icon"></i> Erreur 404 : Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée</p>
    <a href="{{ path('main') }}" class="ui primary button">
     Retourner à l'acceuil
    </a>
{% endblock %}
