{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<section class="main">
<ul class="uk-breadcrumb">
    <li><a href="#">Acceuil</a></li>
    <li><a href="#">Tous les projets</a></li>
</ul>
<div class="uk-card uk-card-default uk-card-body uk-width-1@m">

    <div class="uk-card-badge uk-label">Nouveau</div>
    <h3 class="uk-card-title">Titre</h3>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a href="#">18/11/2020</a></li>
                    <li><a href="#">Suivre</a></li>
                </ul>
    <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="uk-margin">
<div class="uk-card uk-card-default uk-card-body uk-width-1@m">
    <h3 class="uk-card-title">Nouvelle trouvaille</h3>
    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a href="#">02/02/2019</a></li>
                    <li><a href="#">Suivre</a></li>
                </ul>
    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <div class="uk-card-media-bottom">
                <img src="https://www.makery.info/wp-content/uploads/2014/07/valldaura-labs-5116.jpg" alt="">
            </div>
            </div>
</div>
<div class="uk-margin">
<div class="uk-card uk-card-default uk-card-body uk-width-1@m">
    <h3 class="uk-card-title">Études de marché</h3>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a href="#">01/01/2019</a></li>
                    <li><a href="#">Suivre</a></li>
                </ul>
    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>

<div class="uk-margin">
<div class="uk-card uk-card-default uk-card-body uk-width-1@m">
    <h3 class="uk-card-title">Default</h3>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a href="#">01/11/2018</a></li>
                    <li><a href="#">Suivre</a></li>
                </ul>
    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>

</section>

{% endblock %}
