.main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem; 
}

.center{
    text-align: center;
    margin-top: 20px;
}

.modalprofil{
    width: 15rem !important;
}
.search{
    top: 10rem !important;
    right: -20rem !important;
}
.prj{
    margin-left: 33%;
}

/* .labelstate{
    position: absolute !important;
    left: 80% !important;
} */

.navbar{
    margin-top : 1rem !important;
    margin-left : 1rem !important;
}

#project_content{
    height : 500px;
}
#comment_content{
    height: 200%;
}
#commentbutton{
    margin-bottom: 5rem;
}

.uk-countdown{
    margin-left : 10%;
}
input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: #FFFAAA;
    display:none;
  }

  @media screen and (max-width: 800px) { 
    .prj{
        margin-left: 0%;
        margin-right: 5%;
        width: 80%;
    }
    .uk-countdown{
        margin-left : 0%;
    }
  } 