.main{
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 1rem; 
}
.relative{
    position: relative !important;
    top: 40px !important; left: 40px;
}
.theme{
    height: 70rem;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.center{
    text-align: center;

}

.centerlogin{
    text-align: center;
    margin-top: -20px;
}
.modalprofil{
    width: 15rem !important;
}
.search{
    top: 10rem !important;
    right: -20rem !important;
}
.prj{
    margin-left: 33%;
}

/* .labelstate{
    position: absolute !important;
    left: 80% !important;
} */

.navbar{
    margin-top : 1rem !important;
    margin-left : 1rem !important;
}

#project_content{
    height : 500px;
}
#comment_content{
    height: 200%;
}
#commentbutton{
    margin-bottom: 5rem;
}
.cardlogin{
    margin-left: 20%;
    margin-right: 20%;

}
body{

}
.uk-countdown{
    margin-left : 22%;
    margin-right : 22%;
}
input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: #FFFAAA;
    display:none;
  }

  @media screen and (max-width: 800px) { 
    .prj{
        margin-left: 0%;
        margin-right: 5%;
        width: 80%;
    }
    .uk-countdown{
        margin-left : 0%;
    }
  } 