{% extends 'base.html.twig' %}

{% block title %}Versions - Plateforme ERPI{% endblock %}

{% block body %}
<section class="global">

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('main') }}">Acceuil</a></li>
                    <li><b><a href="#">Versions et notes de patch</a></b></li>
                </ul>
<div class="ui icon orange message">
  <i class="cogs icon"></i>
  <div class="content">
    <div class="header">
      Oups!
    </div>
    <p>Cette page est en maintenance. Cela ne durera pas longtemps, promis !</p>
  </div>
</div>
</section>
{% endblock %}