{% extends 'base.html.twig' %}

{% block title %}Versions - Plateforme ERPI{% endblock %}

{% block body %}
<section class="global">


<div class="ui icon orange message">
  <i class="cogs icon"></i>
  <div class="content">
    <div class="header">
      Oups!
    </div>
    <p>Cette page est en maintenance. Cela ne durera pas longtemps, promis !</p>
  </div>
</div>

<a href="http://htmlpurifier.org/"><img
src="http://htmlpurifier.org/live/art/powered.png"
alt="Powered by HTML Purifier" border="0" /></a>


</section>

{% endblock %}